html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}

.wrap {
    position: relative;
    height: 100%;
    width: 100%;
    background: #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ui-tabs {
    margin-left: 86px;
    height: 100%;
    padding: 0px !important;
}

.ui-tabs-nav {
    float: right;
    width: 12em;
    height: 100%;
    padding: 0 !important;
    border: 0 !important;
    overflow-x: clip;
    overflow-y: auto;
}

.ui-tabs-nav li {
    border-bottom-width: 1px !important;
    border-left-width: 0 !important;
    margin: 0 1px 5px -1px;
    width: 100%;
}
.ui-tabs-nav li a {
    display: block;
    width: 100%;
}

.ui-tabs-tab {
    margin-top: 5px !important;
}

.ui-tabs-panel {
    height: 100%;
    width: 100%;
    padding: 0px !important;
    position: absolute;
    padding-right: 12em !important;
    box-sizing: border-box;
}

.button-bar {
    float: left;
    padding-right: 10px;
}

.button-bar a {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    line-height: 0;
}
