<!DOCTYPE html>
<html>
  <head>
    <title>CoW</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <!-- codemirror -->
    <link rel="stylesheet" href="static/cm/lib/codemirror.css">
    <script src="static/cm/lib/codemirror.js"></script>
    <script src="static/cm/addon/edit/matchbrackets.js"></script>
    <script src="static/cm/addon/selection/active-line.js"></script>
    <script src="static/cm/mode/{{ lang_mode }}"></script>
    <!-- JQuery -->
    <link rel="stylesheet" href="static/jqui/jquery-ui.min.css">
    <script src="static/jquery.min.js"></script>
    <script src="static/jqui/jquery-ui.min.js"></script>
    <!-- custom -->
    <link rel="stylesheet" href="static/cow.css" rel="stylesheet">
    <script src="{{ url_for('cow_js', lang=lang) }}"></script>
  </head>
  <body>
    <div id="lang-dialog-confirm" title="Switch language?">
      <form>
        <label for="lang-select"></label>
        <select name="lang-select" id="lang-select">
          {% for lkey, lname in lang_all.items() %}
          {% if lkey == lang %}
          <option value="{{ lkey }}/{{ lname }}" selected="selected">{{ lname }}</option>
          {% else %}
          <option value="{{ lkey }}/{{ lname }}">{{ lname }}</option>
          {% endif %}
          {% endfor %}
        </select>
      <p>Program will be cleared, are your sure?</p>
    </div>
    <div id="rename-dialog-form" title="Rename file">
      <form>
        <fieldset>
          <label for="rename-field">new name</label>
          <input type="text" id="rename-field" class="text ui-widget-content ui-corner-all">
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
    <div id="create-dialog-form" title="Create file">
      <form>
        <fieldset>
          <label for="create-field">file name</label>
          <input type="text" id="create-field" class="text ui-widget-content ui-corner-all">
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
    <div id="remove-dialog-confirm" title="Remove file?">
      <p>Removing file cannot be undone. Are you sure?</p>
    </div>
    <div id="download-dialog-message" title="Download your project">
      <p id="download-message"></p>
    </div>
    <div id="run-dialog-message" title="Run failed!">
      <p id="run-message"></p>
    </div>
    <div id="wait-dialog" title="Please wait...">
      <div id="waitbar"></div>
    </div>
    <div class="wrap">
      <div class="button-bar">
        <a class="ui-button ui-widget ui-corner-all" href="#" id="lang">
          <img src="static/img/{{ lang }}.png" alt="{{ lang_name }}" title="{{ lang_name }} (change)">
        </a>
        <a class="ui-button ui-widget ui-corner-all" href="#" id="new">
          <img src="static/img/new.png" alt="new" title="Add file">
        </a>
        <a class="ui-button ui-widget ui-corner-all" href="#" id="rename">
          <img src="static/img/rename.png" alt="new" title="Rename file">
        </a>
        <a class="ui-button ui-widget ui-corner-all" href="#" id="remove">
          <img src="static/img/remove.png" alt="remove" title="Remove file">
        </a>
        <a class="ui-button ui-widget ui-corner-all" href="#" id="download">
          <img src="static/img/download.png" alt="download" title="Download project">
        </a>
        <a class="ui-button ui-widget ui-corner-all" href="#" id="run">
          <img src="static/img/run.png" alt="run" title="Compile and run">
        </a>
        <a class="ui-button ui-widget ui-corner-all" href="https://github.com/fpom/cow" target="_blank">
          <img src="static/favicon.png" height="32px" width="32px" alt="about" title="About CoW">
        </a>
      </div>
      <div id="tabs" class="tabs">
        <ul>
        </ul>
      </div>
    </div>
  </body>
</html>
